#banner {
  width: 95%;
  height: 250px;
  background: var(--bg-primary);
  background: linear-gradient(to left, #090f8d, #5d64df);
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
}
#banner .bannerColor {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .bannerColor h1 {
  color: var(--bg-yellow);
  font-weight: bold;
}

#banner .bannerColor a {
  border: none;
  width: 200px;
  height: 70px;
  background: #5d64df;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: grid;
  place-items: center;
  transition: 0.5s;
  font-weight: bold;
}
#banner .bannerColor a:hover {
  background: var(--bg-yellow);
  color: black;
}
@media screen and (max-width: 600px) {
  #banner {
    height: auto;
  }
  #banner .bannerColor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 10px;
  }
  #banner .bannerColor h1 {
    text-align: center;
    font-size: 22px;
  }
  #banner .bannerColor a {
    margin-top: 10px;
    width: 180px;
    height: 60px;
  }
}
