#clientSays {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px 30px;
  /* background: #f8f8ff; */
}

#clientSays h1 {
  color: black;
  font-weight: bolder;
}

#clientSays h1 span {
  color: var(--bg-primary);
}

#clientSays .testi {
  width: 100%;
  margin-top: 15px;
}

#clientSays .testi p {
  color: black;
}

#clientSays .testi .swiper-slide {
  border-radius: 7px;
  padding: 30px;
  border: 2px solid var(--bg-primary);
  height: 330px;
}

#clientSays .testi .swiper-slide:hover {
  background: var(--bg-primary);
}

#clientSays .testi .swiper-slide:hover p {
  color: white;
}

#clientSays .testi .swiper-slide:hover .icon {
  color: white;
}

#clientSays .testi .swiper-slide:hover h3 {
  color: var(--bg-yellow);
}

#clientSays .testi .swiper-wrapper {
  padding-bottom: 50px;
}

#clientSays .testi .swiper-pagination-fraction {
  bottom: -20px;
}

#clientSays .testi .client-det {
  display: flex;
  align-items: center;
}

#clientSays .testi .client-det .icon {
  font-size: 100px;
  color: var(--bg-primary);
}

#clientSays .testi .client-det h3 {
  color: black;
  margin-bottom: 3px;
}

#clientSays .testi .client-det p {
  color: var(--bg-primary);
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  #clientSays {
    padding: 30px 10px 30px 10px;
  }
  #clientSays .testi .swiper-slide {
    height: auto;
  }
}
